
<link rel="stylesheet" href="/stylesheets/profile-style.css" />



<div class="container">


<h1>My profile</h1>

<img src="{{user.profilePicture}}" alt="profile-picture" class="profile-picture">

<h2>Welcome {{user.username}}</h2>

<br>

<div class="favourites">
    <h3>My Games</h3>
    {{#each user.favoriteGames}}
    
        <p>{{title}}, {{category}}</p>
        <form action="/games/{{_id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
   <br/>
    {{/each}}
</div>
    <form action="/edit" method="GET">
        <button class="edit-btn"><a>Edit</a></button>
    </form>
</div>


