
<link rel="stylesheet" href="/stylesheets/profile-style.css" />



<div class="container">


<h1>My profile</h1>

<img src="{{user.profilePicture}}" alt="profile-picture" class="profile-picture">

<h2>Welcome {{user.username}}</h2>

<br>

<div class="favourites">
    <h3>My Games</h3>
    {{#each user.favoriteGames}}
    
    <div class="table">
     <table>
        <tr>
            <th>Game</th>
            <th>Category</th>
            <th></th>
        </tr>

         <tr>
            <td>{{title}}</td>
            <td>{{category}}</td>
            <td>
                <form action="/games/{{_id}}/delete" method="POST">
                    <button type="submit" class="delete-icon"><img src="./.././images/remove.svg"></button>
                </form>
            </td>
        </tr>
     </table>
    </div>
       
   <br/>
    {{/each}}
</div>
    <form action="/edit" method="GET">
        <button class="edit-btn"><a>Edit</a></button>
    </form>
</div>


