
<h1 class="title">The Game list</h1>
<h3 class="subtitle">Check the latest games</h3>




<div class="container">
{{#each gameList}}
  <div class="box">
    <p><img src={{image}} alt="game-cover" class="game-img"></p>
    <p><b class="bold">Title:</b> {{title}}</p>
    <p><b class="bold">Category:</b> {{category}}</p>

    <form action="/games/{{_id}}/favorites" method="get">

      <button type="submit" class="favourite-btn">Add to my list</button>

    </form>

    <a href="{{url}}" target="_blank">Where to play</a>
  </div>
  {{/each}}
</div>

<script>


  
</script>